.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.Icon {
    display: flex;
    align-items: center;
    background: rgb(204, 204, 204);
    justify-content: center;
    width: 50px;
    position: absolute;
    right: 3.2%;
    top: 14.5%;
    height: 3.39rem;
    border-radius: 3px;
}