.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
    justify-content: center;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.12);;
    background-color: white;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.568);
    border-radius: 8px;
    padding: 2rem;
    border-radius: 1rem;
    justify-content: space-around;
}